*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav-bar{
    /* border: 1px solid green; */
    background-color: rgb(161, 52, 52);
    height:60px;
    position:fixed;
    float:top;
    width:100%;
    text-align: right;
    color: white;
}
#welcome-section{
    background:repeating-linear-gradient(60deg,rgb(66, 66, 66),rgb(31, 30, 30));
    width:100%;
    height:930px;

}
h1{
    text-align:center;
    padding-top:300px;
    font-size: 56px;
    color:white;
}
.name-quote{
    text-align:center;
    font-size:30px;
    color:rgb(175, 43, 43);
    font-style:italic;
}

#Projects{
    background-color: rgb(61, 88, 114);
    height:1150px;
    width:100%;
}
h2{
    text-align: center;
    color:white;
    font-size:40px;
    padding-top:40px;
    background-color: rgb(19, 0, 128);
    /* width: 10px;
    height: 10px; */

}   
/* .hr-div{
    display: flex;
    align-items: center;
    padding-bottom:50px;
} */
/* .projects{
    
    display:grid;
    grid-template-rows:450px 450px 450px ;
    grid-template-columns:450px 450px 450px ;
    justify-items: center;
} */
hr{
    width:400px;
    margin-left:auto;
    margin-right:auto
}
.section__projects h2{
    color: white;
    background-color: rgb(74, 74, 107);
    text-align: center;
    text-decoration:underline;
    font-size: 2em;
    padding-top: 3rem;
    padding-bottom: 10px;
    /* border:20px solid green; */
    /* border-top:10px;
    border-left: 10px;
    border-right: 10px; */
    margin-bottom: 10px;
}

.projects__div{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.project-tile{
    width: 30%;
    min-width: 300px;
    text-decoration: none;
}

.projects__images{
    width: 100%;
    height: 400px;
    display: block;
    background-color: rgb(39, 39, 121);

}

.projects__p{
    background-color: rgb(65, 55, 55);
    color:white;
    text-align: center;
    padding: 1rem;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20PX;
}
    .projects__p:hover::after{
        content: '<';
        color: orange;
        position: absolute;
        left: 20px;
    
   
    
}

.projects_p:hover::before{
    content: '/>';
    color: orange;
    position: absolute;
    right: 20px;
}

.buttons{
    text-align: center;
    margin-top: 3rem;
    background-color: rgb(31, 31, 90);
    padding: 30px;
}
.button{
    padding: 10px;
    background-color: rgb(98, 98, 136);
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.links{
    background-color: green;
    color: white;
    display:flex;
    justify-content: center;

}
.link{
    border: 1px solid red;
    padding: 20px;
    background-color: rgb(9, 9, 70);
}
