*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    /* border: 1px solid green; */
    background-color: brown;
    display: flex;
    justify-content:right;
    align-items:center;
    padding: 30px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    gap: 10px;
    font-weight: 900;
}
#heroe{
    background-color: black;
    padding: 80px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: flex; 
    justify-content:left
font center:baseline
}
